:root {
  --beige: #f3bf99;
  --bg-dark: #1a1b21;
  --bg-darker: #161619;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 317px;
  background-color: var(--bg-dark);
  border-radius: 10px;
  overflow: hidden;
}
.section-about {
  margin-top: 40px;
}
.section-about,
.section-interests {
  padding: 0 2em;
}
.read-the-docs {
  color: #888;
}

header.section-info .photo {
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0 0;
}
header.section-info h1 {
  font-size: 2em;
  margin-bottom: 0;
}
header.section-info .subtitle {
  color: var(--beige);
  margin-bottom: 1em;
  display: block;
}
footer {
  background-color: var(--bg-darker);
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 1em;
}
footer a:hover {
  opacity: 0.7;
}
.button.with-icon img {
  margin-right: 4px;
}

h4 {
  margin-bottom: 5px;
}
p {
  margin-top: 0;
}
.buttons {
  padding: 0 2em;
}
.buttons .button {
  display: block;
}
